<fieldset class="form-group">
  <div class="row alert alert-info">
    <legend class="col-form-label col-sm-2 pt-0">Tipo de Busqueda</legend>


    <div class="col">
      <label for="rdbNumeroFactura">Número de factura</label>
      <input type="radio" name="rdbTipoBusqueda" id="rdbNumeroFactura" value="numeroFactura" />
    </div>
    <div class="col">
      <label for="rdbCliente">Cliente</label>
      <input type="radio" name="rdbTipoBusqueda" id="rdbCliente" value="cliente" />
    </div>
  </div>
  <div class="container col-md-12">
    <div class="row">
      <div class="col input-group">
        <label class="col-form-label" for="txtNumeroFactura">Número de factura</label>
        <input type="text" class="form-control" id="txtNumeroFactura" />
      </div>
      <div class="col input-group"  id="selectorCliente">

        
      </div>
      <div class="col input-group">

        <button type="button" class="btn btn-primary" id="btnBuscar">Buscar</button>
      </div>
    </div>
    <div class="row">
      <table id="tablaFacturas" class="table table-bordered table-dark">
        <thead>
          <td>Numero Factura</td>
          <td>Fecha de Emision</td>
          <td>Total</td>
        </thead>
        <tbody>   </tbody>
      </table>
    </div>
  </div>
  @section Scripts
  {
    <script src="~/js/buscarFactura.js"></script>
  }
